*.gem
*.log
*.rbc
.bundle
.config
.history
.idea
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
downloads/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
bin/t
bin/html
coverage
.DS_Store
